git+https://github.com/huggingface/transformers
git+https://github.com/openai/whisper.git
transformers
ffmpeg-python==0.2.0
gradio==3.38.0
gradio-client==0.8.1
yt-dlp
torchaudio
altair
json5

# Needed by diarization
intervaltree
srt
torch
# Latest update breaks
https://github.com/pyannote/pyannote-audio/archive/d9389defa76ef64c4a16ed77e96e13a5e9875591.zip